PyMuPDF>=1.24
pypdf>=4.2
pdfplumber>=0.11
pytesseract>=0.3.10
Pillow>=10.3

python-docx>=1.1.2

pydantic>=2.7
PyYAML>=6.0

sentence-transformers>=3.0
faiss-cpu>=1.8
rank-bm25>=0.2.2
numpy>=1.26

openai>=1.40
